section {
    padding: 60px 0;
    min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 14px;
}

.sheets-link-section {
    background-size: cover;
    position: relative;
    z-index: 2;
    min-height: 100vh;
}

.newsletter:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: -1;
}

.sheets-link-section .section-title {
    margin-bottom: 59px;
}

.sheets-link-section .section-title h2 {
    background-image: -webkit-linear-gradient(-30deg, #ffffff 0%, #ffffff 100%);
}

.sheets-link-section .section-title p {
    color: #fff;
}

.sheets-link-section .section-title {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    background: rgba(30, 30, 30, 1);
    border-radius: 15px;
}

.sheets-link-section .section-title h2,
.sheets-link-section .section-title p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.sheets-link-section .section-title p {
    line-height: 1.6;
    font-size: 18px;
}

.sheets-link-section form {
    position: relative;
    height: 60px;
    z-index: 2;
}

.sheets-link-section form:after {
    position: absolute;
    content: '';
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    background: -webkit-linear-gradient(-30deg, orange 0%, orange 100%);
    z-index: -1;
    border-radius: 15px;
}

.sheets-link-section form input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 30px;
    background: rgba(30, 30, 30, 1);
    color: #fff;
    padding-right: 200px;
    border-radius: 15px;
}

.sheets-link-section form input::-webkit-input-placeholder {
    color: #fff;
    opacity: .6;
}

.sheets-link-section form input:-ms-input-placeholder {
    color: #fff;
    opacity: .6;
}

.sheets-link-section form input::-ms-input-placeholder {
    color: #fff;
    opacity: .6;
}

.sheets-link-section form input::placeholder {
    color: #fff;
    opacity: .6;
    transition: 500ms;
}

.sheets-link-section form button {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    width: 170px;
    background: orange;
    transition: 500ms;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.sheets-link-section form button:hover {
    background: rgba(30, 30, 30, 1);
    border: 3px solid orange;
}

.sheets-link-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container.top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.container.top.slideUp {
    top: 150px;
    transform: translate(-50%, 0);
}

.container.bottom {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
    z-index: 1;
    margin-top: 500px;
}

.container.top.slideUp+.container.bottom {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}