<div class="total_evolution">
    <div>
        <div class="total_evolution--header card-header">
            <div class="d-flex justify-content-between align-items-center">
                <span>TOTAL EVOLUTION</span>
                <div class="date-range-controls d-flex align-items-center gap-2">
                    <button class="btn btn-sm btn-outline-light" (click)="decreaseDateRange()"
                        [disabled]="dateRangeDays() <= minDateRange" title="Decrease range by 1 day">
                        -
                    </button>
                    <span class="text-white fw-semibold">{{ dateRangeDays() }} days</span>
                    <button class="btn btn-sm btn-outline-light" (click)="increaseDateRange()"
                        [disabled]="dateRangeDays() >= maxDateRange" title="Increase range by 1 day">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="total_evolution--body">
            <div class="total_evolution--content">
                <div class="row">
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="adrData" [chartOptions]="adrOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="kdData" [chartOptions]="kdOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="hltvData" [chartOptions]="hltvOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="ranksData" [chartOptions]="rankOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>