<div class="total_evolution">
    <div>
        <div class="total_evolution--header card-header">
            <div class="d-flex justify-content-between align-items-center">
                <span>DAILY EVOLUTION</span>
                <div class="date-range-controls d-flex align-items-center gap-2">
                    @for (filter of dateRangeFilters; track filter.value) {
                    <button class="btn btn-sm" [class.btn-light]="selectedFilter() === filter.value"
                        [class.btn-outline-light]="selectedFilter() !== filter.value"
                        (click)="setDateRangeFilter(filter.value)">
                        {{ filter.label }}
                    </button>
                    }
                </div>
            </div>
        </div>
        <div class="total_evolution--body">
            <div class="total_evolution--content">
                <div class="row">
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="adrData" [chartOptions]="adrOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'bar'" [chartData]="kdData" [chartOptions]="kdOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="hltvData" [chartOptions]="hltvOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-3">
                        <div class="chart-item">
                            <div class="value fs-2">
                                <app-chart [chartType]="'line'" [chartData]="ranksData" [chartOptions]="rankOptions">
                                </app-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>