.header {
    margin: 0;
    color: #E58716;
    letter-spacing: 1px;
}

.section-container {
    height: 90vh;
    width: 100%;
    transition: width 0.3s ease;
    overflow: auto;
    border-radius: 15px;
}

.section-header {
    background: rgba(30, 30, 30, 1);
    color: white;
    border-radius: 0;
}

.w-50px {
    width: 50px;
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-180px {
    width: 180px;
}

.hltv-score {
    top: 20px;
    right: 0;
    font-size: 12px;
    color: rgb(175, 175, 175);
}

.first {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.last {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section-body:nth-child(even) {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.section-body {
    border-left: 5px solid black;
}

.section-body:nth-child(odd) {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.common {
    color: #B1C3D9;
}

.uncommon {
    color: #5E97D6;
}

.rare {
    color: #4B69FF;
}

.mythical {
    color: #8846FF;
}

.legendary {
    color: #D22CE6
}

.ancient {
    color: #EB4B4B;
}

.progress-bar {
    width: 0%;
    animation: fillAnimation 1.8s ease-in-out forwards;
}

@keyframes fillAnimation {
    from {
        width: 0%;
    }

    to {
        width: var(--target-width);
    }
}

.rank {
    width: 89px;
    height: 32px;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 15px;
}

.progress {
    height: 4px;
    background: rgb(41, 41, 41);
}

.hltv-poor {
    background: rgb(var(--bs-danger-rgb));
}

.hltv-average {
    background: rgb(var(--bs-warning-rgb));
}

.hltv-good {
    background: #90be6d;
}

.hltv-great {
    background: rgb(var(--bs-success-rgb));
}

.hltv-excellent {
    background: #6f42c1;
}