<div class="content">
    <h3 class="header mb-2 fw-bold">Match History</h3>
    <div class="section-container">
        <div class="section-content" *ngFor="let matchDates of matches; index as i">
            <div class="section-header p-3 d-flex justify-content-between" [ngClass]="{ 'first': i === 0 }">
                <div class="global-data ms-3">
                    <div class="date d-flex align-items-center">
                        <span class="fw-bold">{{matchDates[0].datetime | date:'dd MMM'}}</span>
                        <span class="badge rounded-pill text-bg-secondary ms-2">{{matchDates.length}}</span>
                    </div>
                    <div class="score fs-5 fw-bold">
                        <span *ngIf="(matchDates | countResult:2) > 0">
                            {{ matchDates | countResult:2 }}<span class="text-success"> W</span>
                        </span>
                        <span *ngIf="(matchDates | countResult:1) > 0">
                            <span *ngIf="(matchDates | countResult:2) > 0"> • </span>
                            {{ matchDates | countResult:1 }}<span class="text-warning"> D</span>
                        </span>
                        <span *ngIf="(matchDates | countResult:0) > 0">
                            <span *ngIf="(matchDates | countResult:2) > 0 || (matchDates | countResult:1) > 0"> •
                            </span>
                            {{ matchDates | countResult:0 }}<span class="text-danger"> L</span>
                        </span>
                    </div>
                </div>
                <div class="global-stats d-flex">
                    <div class="kd_stat text-center me-4 pe-2 w-50px">
                        <div class="text-secondary fw-bold">K/D</div>
                        <div class="fs-5 fw-bold"
                            [ngClass]="EntityCustomizer.getClasses('kdRatio', matchDates | averageKd )">
                            {{ matchDates | averageKd | number:'1.1-1' }}</div>
                    </div>
                    <div class="kd_stat text-center me-3 w-50px">
                        <div class="text-secondary fw-bold">ADR</div>
                        <div class="fs-5 fw-bold"
                            [ngClass]="EntityCustomizer.getClasses('adr', matchDates | averageAdr )">
                            {{ matchDates | averageAdr | number:'1.0-0' }}</div>
                    </div>
                </div>
            </div>
            <div class="section-body p-2 px-3" *ngFor="let match of matchDates; index as j"
                [ngClass]="EntityCustomizer.getClasses('matchOutcomeBorder', match.outcome.toString())">
                <div class="global-data ms-3 d-flex align-items-center justify-content-between">
                    <div class="map d-flex">
                        <img [src]="maps[match.mapId].picturePath" [alt]="maps[match.mapId].name" width="50"
                            class="me-3">
                        <div class="d-flex align-items-center justify-content-between w-150px">
                            <span class="fw-bold fs-5">{{maps[match.mapId].name}}</span>
                            <div class="badge rounded-pill fs-6"
                                [ngClass]="EntityCustomizer.getClasses('matchOutcome', match.outcome.toString())">
                                {{EntityCustomizer.getText('matchOutcome', match.outcome.toString())}}
                            </div>
                        </div>
                    </div>
                    <div class="global-stats d-flex align-items-center justify-content-between" style="width:755px">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="badge text-center bg-transparent"
                                [ngClass]="EntityCustomizer.getClasses('matchOutcome', match.outcome.toString())">
                                {{ matches | rankDifference:j:i }}
                            </div>
                            <div class="rank text-center fs-5 fw-bold">
                                <i>{{ match.matchRank.rankScore | number }}</i>
                            </div>
                        </div>
                        <div class="kad_stat text-end w-100px">
                            <div class="text-secondary fw-bold">K / A / D</div>
                            <div class="fs-5 fw-bold text-end">{{ match.matchResult.kills }} /
                                {{ match.matchResult.assists }} /
                                {{ match.matchResult.deaths }}</div>
                        </div>
                        <div
                            class="hsp_stat text-center w-150px d-flex align-items-between flex-column position-relative">
                            <div class="text-secondary fw-bold">HLTV</div>
                            <div style="height:30px" class="d-flex align-items-center ">
                                <div class="progress mt-2 w-100">
                                    <div class="progress-bar" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
                                        data-bs-placement="top"
                                        [ngClass]="EntityCustomizer.getClasses('hltv', match.matchResult.hltv)"
                                        [style.width.%]="(match.matchResult.hltv / 1.8) * 100">
                                    </div>
                                </div>
                            </div>
                            <div class="hltv-score position-absolute">
                                {{ match.matchResult.hltv }}
                            </div>
                        </div>
                        <div class="mvp_stat text-center w-50px">
                            <div class="text-secondary fw-bold">MVPs</div>
                            <div class="fs-5 fw-bold">{{ match.matchResult.mvps }}</div>
                        </div>
                        <div class="hsp_stat text-center w-50px">
                            <div class="text-secondary fw-bold">HSP</div>
                            <div class="fs-5 fw-bold">{{ match.matchResult.hsp * 100 | number:'1.0' }}%</div>
                        </div>
                        <div class="kd_stat text-center w-50px">
                            <div class="text-secondary fw-bold">K/D</div>
                            <div class="fs-5 fw-bold">
                                {{ match.matchResult.kills / match.matchResult.deaths | number:'1.1-1' }}
                            </div>
                        </div>
                        <div class="adr_stat text-center w-50px me-3">
                            <div class="text-secondary fw-bold">ADR</div>
                            <div class="fs-5 fw-bold">
                                {{match.matchResult.adr}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="hasMoreMatches" class="section-header p-3 d-flex justify-content-center">
            <button class="btn btn-secondary" (click)="loadNextMatches()">Show more</button>
        </div>
    </div>
</div>