<div class="map_performance">
    <div class="map_performance--header card-header">
        MAP PERFORMANCE
    </div>
    <div class="map_performance--body">
        <div class="row">
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_mirage.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_mirage</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_dust2.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_dust2</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_inferno.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_inferno</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_nuke.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_nuke</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map_performance--body pt-4">
        <div class="row">
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_ancient.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_ancient</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_overpass.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_overpass</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_train.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_train</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 map">
                <div>
                    <img class="img-map" src="https://app.scope.gg/static/records/de_anubis.webp" alt="" width="100%">
                    <div>
                        <h3 class="py-2 m-0">de_anubis</h3>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-2 pb-0">58%</div>
                        <div class="fs-2 pb-0">59</div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="fs-4 text-secondary" style="margin-top:-10px">win rate</div>
                        <div class="fs-4 text-secondary" style="margin-top:-10px">matches</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>