<div class="map_performance">
    <div class="map_performance--header card-header">
        MAP PERFORMANCE
    </div>
    <div class="map_performance--body">
        <div class="row">
            <div class="col-xl-6 col-xxl-3 mb-4 map" *ngFor="let map of maps">
                <div class="map-card">
                    <div class="map-image-container">
                        <img class="img-map" src="{{map.picturePath}}" alt="{{map.name}}">
                        <div class="map-overlay"></div>
                    </div>
                    <div class="map-content">
                        <div class="map-name">{{map.name}}</div>
                        <div class="map-stats">
                            <div class="win-rate">
                                {{ mapPerformance[map.id]?.wins != null
                                ? ((mapPerformance[map.id].wins | winRate:mapPerformance[map.id].matches)|
                                number:'1.0-0')
                                : '-'
                                }}%
                            </div>
                            <div class="matches">
                                {{ mapPerformance[map.id]?.matches ?? '-' }} matches
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>