.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    width: 80px;
    height: 96vh;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    transition: width 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(227, 228, 237, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(0, 0, 0, 0.75);
}

.sidebar i {
    font-size: 21px;
    text-align: center;
    flex: 1;
}

.sidebar.expanded {
    width: 250px;
    align-items: flex-start;
}

.toggle-btn {
    width: 100%;
    padding: 0.2rem 0;
    background: #E58716;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.toggle-btn i {
    font-size: 30px;
    transition: transform 0.3s;
    text-align: center;
    padding: 0.175rem 0.75rem;
}

.toggle-btn:hover {
    background: #a5620f;
}

.sidebar.sidebar.expanded .toggle-btn i {
    transform: rotate(180deg);
}

.sidebar-logo {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    cursor: pointer;
    color: white;
}

.menu {
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu li {
    margin: 1.5rem 0;
}

.menu a {
    display: flex;
    align-items: center;
    color: #E58716;
    text-decoration: none;
    transition: background 0.2s ease;
    width: 100%;
}

.menu a span {
    font-weight: 700;
    display: none;
    font-size: 1.2rem;
}

.menu a:hover,
.active {
    background: #E58716;
    border-radius: 15px;
    color: white !important;
}

.sidebar.expanded .menu a span {
    display: inline-block;
    flex: 1.5;
}