# Ports
MAIN_API_PORT=
AUTH_SERVICE_PORT=
CLIENT_PORT=

# ASP.NET Environment
ASPNETCORE_ENVIRONMENT=Development

# Database
DB_SERVER=host.docker.internal
DB_PORT=3306
DB_NAME=db
DB_USER=root
DB_PASSWORD=

# Other keys
GOOGLESHEETS_APIKEY=
SCOPE_SESSION_ID=
